
body {
    font-family: Poppins, Arial;
}

#name-company {
    margin-right: 30%
}

#navbarsExample07 {
    text-transform: uppercase;
}

.nav-block {
    margin-right: 0.5em;
}

.bg-dark {
    background-color: #232121c7 !important;
}
